{% extends 'layout.twig' %}

{% block title "Characters - Brave" %}

{%block body %}
<h1> Every characters </h1>

<ul>
    {% for character in characters %}
    <li><a href="{{ path('character.show', {name: character.name|lower, id: character.id}) }}"> {{ character.name }} </a></li>
    <i> {{ character.version }} ver. </i>
    {% endfor %}
</ul>


{% endblock %}