{% extends 'layout.twig' %}

{% block title "Characters -" %}

{% block content %}
	<div id="content">
        {% for character in characters %}
            <div class="post">
                <h2 class="title"><a href="{{ path('character.show', {name: character.name|lower, id: character.id}) }}"> {{ character.name }} </a></h2>
                <span class="date"> {{ character.attributes.version }} ver.</span>
                <div style="clear: both;">&nbsp;</div>
                <img src="http://placehold.it/100x100"/>
            </div>
        {% endfor %}
        <div style="clear: both;">&nbsp;</div>
    </div>
{% endblock %}