{% extends 'layout.twig' %}

{% block title "Characters - Brave" %}

{%block body %}
<h1> Every characters </h1>

<ul>
    <li><a href="{{ router.generateUri('character.show', {name: 'ichigo', id:'29'}) }}"> Ichigo </a></li>
</ul>

{% endblock %}