<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Monumental 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title> {% block title %} {% endblock %} Brave</title>
		<meta name="description" content="{% block description%} {% endblock %}" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" rel="stylesheet" type="text/css">
		<link href="/assets/css/default.css" rel="stylesheet" type="text/css" media="all" />

	</head>

	<body>
		<div id="banner-wrapper"></div>

		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="#">Brave</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li><a href="{{ path('homepage') }}" title="Home"> Home </a></li>
						<li><a href="{{ path('brave.characters') }}" title="Characters"> Characters </a></li>
						<li><a href="#" title="Gameplays"> Gameplays </a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="page" class="container">
			{% block content %} {% endblock %}
		</div>
		<div id="footer" class="container">
			<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
		</div>
	</body>
</html>
