html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #202223;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #707070;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

#banner-wrapper
{
	overflow: hidden;
	height: 25em;
	background-size: contain;
}

#header-wrapper
{
	background: #181818;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 60px;
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	width: 480px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	color: #FFF;
}

/** MENU */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0px 2em;
}

#menu a {
	display: block;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
}

#menu a:hover {
	text-decoration: underline;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 5em 0em 0em 0em;
	width: 100%;
}

/** CONTENT */

#content {
	display: flex;
    flex-wrap: wrap;
}

.left-part{
	width:60%;
	font-size: 1.5em;
}

.character_name{
	float:left;
	margin-right:40px;
}

.right-part{
	width:40%;
	font-size: 1.5em;
	display: flex;
	flex-wrap: wrap;
}

.right-part div{
	width:100%
}

.right-part i{
	padding: 5%;
}


.character {
	width:70%;
	overflow: hidden;
	padding: 50px;
	background: #FFF;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	margin: 20px;
	display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1700px) {
	.character{
		width:700px;
	}

	.right-part{
		width:100%;
		font-size: 1.5em;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 5%;
	}

	.right-part div{
		width:100%
	}
	
	.right-part i{
		padding: 5%;
	}

	.left-part{
		width:100%;
		font-size: 1.5em;
		text-align:center;
		margin-bottom: 5%;
	}
	.character_name{
		float:none;
		margin:0px;
	}

}

.pagerfanta a,
.pagerfanta span {
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-right: .2em;
	padding: .25em .35em;
	background: rgb(255, 255, 255);

}

.pagerfanta a {
    text-decoration: none;
}

.pagerfanta a:hover {
    background: rgb(99, 99, 99);
}

.pagerfanta .dots {
    border-width: 0;
}

.pagerfanta .current {
    background: rgb(255, 255, 255);
    font-weight: bold;
}

.pagerfanta .disabled {
    border-color: #ccf;
    color: #ccf;
}

.button {
	border: 1px solid #222222;
	background: #029618;
	background: -webkit-gradient(linear, left top, left bottom, from(#029618), to(#029618));
	background: -webkit-linear-gradient(top, #029618, #029618);
	background: -moz-linear-gradient(top, #029618, #029618);
	background: -ms-linear-gradient(top, #029618, #029618);
	background: -o-linear-gradient(top, #029618, #029618);
	background-image: -ms-linear-gradient(top, #029618 0%, #029618 100%);
	padding: 8px 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #222222 0 1px 0;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, Serif;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	}
 .button:hover {
	border: 1px solid #222222;
	text-shadow: #222222 0 1px 0;
	background: #d8d8d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#d8d8d8));
	background: -webkit-linear-gradient(top, #d8d8d8, #d8d8d8);
	background: -moz-linear-gradient(top, #d8d8d8, #d8d8d8);
	background: -ms-linear-gradient(top, #d8d8d8, #d8d8d8);
	background: -o-linear-gradient(top, #d8d8d8, #d8d8d8);
	background-image: -ms-linear-gradient(top, #d8d8d8 0%, #d8d8d8 100%);
	color: #FFFFFF;
	text-decoration: none;
	}
 .button:active {
	text-shadow: #222222 0 1px 0;
	border: 1px solid #222222;
	background: #029618;
	background: -webkit-gradient(linear, left top, left bottom, from(#029618), to(#d8d8d8));
	background: -webkit-linear-gradient(top, #029618, #029618);
	background: -moz-linear-gradient(top, #029618, #029618);
	background: -ms-linear-gradient(top, #029618, #029618);
	background: -o-linear-gradient(top, #029618, #029618);
	background-image: -ms-linear-gradient(top, #029618 0%, #029618 100%);
	color: #FFFFFF;
	}

.button2 {
	border: 1px solid #222222;
	background: #0085e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#0067db), to(#0085e0));
	background: -webkit-linear-gradient(top, #0067db, #0085e0);
	background: -moz-linear-gradient(top, #0067db, #0085e0);
	background: -ms-linear-gradient(top, #0067db, #0085e0);
	background: -o-linear-gradient(top, #0067db, #0085e0);
	background-image: -ms-linear-gradient(top, #0067db 0%, #0085e0 100%);
	padding: 8px 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #222222 0 1px 0;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, Serif;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	}
.button2:hover {
	border: 1px solid #222222;
	text-shadow: #222222 0 1px 0;
	background: #e0e0e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#e0e0e0));
	background: -webkit-linear-gradient(top, #555555, #e0e0e0);
	background: -moz-linear-gradient(top, #555555, #e0e0e0);
	background: -ms-linear-gradient(top, #555555, #e0e0e0);
	background: -o-linear-gradient(top, #555555, #e0e0e0);
	background-image: -ms-linear-gradient(top, #555555 0%, #e0e0e0 100%);
	color: #FFFFFF;
	text-decoration: none;
}
.button2:active {
text-shadow: #222222 0 1px 0;
border: 1px solid #222222;
background: #0085e0;
background: -webkit-gradient(linear, left top, left bottom, from(#0067db), to(#d8d8d8));
background: -webkit-linear-gradient(top, #0067db, #0085e0);
background: -moz-linear-gradient(top, #0067db, #0085e0);
background: -ms-linear-gradient(top, #0067db, #0085e0);
background: -o-linear-gradient(top, #0067db, #0085e0);
background-image: -ms-linear-gradient(top, #0067db 0%, #0085e0 100%);
color: #FFFFFF;
}

.button3 {
	border: 1px solid #000000;
	background: #e00000;
	background: -webkit-gradient(linear, left top, left bottom, from(#560707), to(#e00000));
	background: -webkit-linear-gradient(top, #560707, #e00000);
	background: -moz-linear-gradient(top, #560707, #e00000);
	background: -ms-linear-gradient(top, #560707, #e00000);
	background: -o-linear-gradient(top, #560707, #e00000);
	background-image: -ms-linear-gradient(top, #560707 0%, #e00000 100%);
	padding: 8px 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #000000 0 1px 0;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, Serif;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	}
	.button3:hover {
	border: 1px solid #222222;
	text-shadow: #222222 0 1px 0;
	background: #e0e0e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#e0e0e0));
	background: -webkit-linear-gradient(top, #555555, #e0e0e0);
	background: -moz-linear-gradient(top, #555555, #e0e0e0);
	background: -ms-linear-gradient(top, #555555, #e0e0e0);
	background: -o-linear-gradient(top, #555555, #e0e0e0);
	background-image: -ms-linear-gradient(top, #555555 0%, #e0e0e0 100%);
	color: #FFFFFF;
	text-decoration: none;
	}
	.button3:active {
	text-shadow: #000000 0 1px 0;
	border: 1px solid #000000;
	background: #e00000;
	background: -webkit-gradient(linear, left top, left bottom, from(#840000), to(#e0e0e0));
	background: -webkit-linear-gradient(top, #840000, #e00000);
	background: -moz-linear-gradient(top, #840000, #e00000);
	background: -ms-linear-gradient(top, #840000, #e00000);
	background: -o-linear-gradient(top, #840000, #e00000);
	background-image: -ms-linear-gradient(top, #840000 0%, #e00000 100%);
	color: #FFFFFF;
	}

.post {
	width: 15%;
	overflow: hidden;
	padding: 20px;
	border: 1px solid #E7EBED;
	border-radius: 8px;
	background: #FFF;
	margin: 20px;
	text-align: center;
}

.post a
{
	color: #ffffff;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	font-size: 1.5em;
	letter-spacing: -2px;
	text-decoration: none;
	font-weight: 600;
	color: #383838;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #222222;
	border-radius: 8px;
	color: #FFFFFF !important;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	background: #222222;
	color: #FFFFFF !important;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 350px;
	padding-top: 5em;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 60px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 1px solid #282A2B;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #707070;
}

#sidebar h2 {
	height: 38px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	font-weight: 600;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}
/* Footer */

#footer {
	overflow: hidden;
	padding: 3em 0em;
	border-top: 1px solid #282A2B;
	margin-top:20px;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #6B6B6B;
}
